
.jumbotron{
    padding: 50px;
}

.header_style{
    text-align: center;
    font-size: x-large;
}

.stat_style{
    text-align: center;
    font-size: x-large;
}

.panel-heading {
    text-transform: uppercase;
    font-size: x-large;
}

.container {
    padding: 10px;
    background-color: lightblue;
}

.page-header{
    text-align: center;
    color: darkblue;
}

.home_images{
    padding-left: 30px;
}