{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">

<ul class="nav nav-pills">
  <li role="presentation"><a href="{% url "index" %}">Home</a></li>
  <li role="presentation" class="active"><a href="{% url "detailedinfo" %}">2015 Player Info</a></li>
  <li role="presentation"><a href="{% url "aboutme" %}">About The Founder</a></li>
</ul>
<div class="full_stats">
<div class="page-header">
  <h1><img src="{% static 'fantasy-football-256.png' %}"> 2015 Fantasy Football Top Players
  <img src="{% static 'images.jpeg' %}"></h1>
</div>
{%for stat in stats %}
<div class="panel panel-primary">
  <div class="panel-heading"><div class="header_style">{{ stat }}</div></div>
  </div>
  <table class="table">
      <div class="stat_style">Position: {{ stat.position }}</div>
    <div class="stat_style">Total Season Points: {{ stat.points }}</div>
      <div class="stat_style">Weekly Avg Points: {{ stat.weekly_points }}</div>
  </table>
{% endfor %}
</div>
</div>
</body>
</html>