{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>
<div class="container">

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="{% url "index" %}">Home</a></li>
  <li role="presentation"><a href="{% url "detailedinfo" %}">2015 Player Info</a></li>
  <li role="presentation"><a href="{% url "aboutme" %}">About The Founder</a></li>

</ul>

<div class="jumbotron">
<h1>Fantasy Football!!!!!</h1>
<p>Where you use real money to bet on your pretend team. Let our research
and input mold who you target in your next fantasy draft, so you can take all of your friends'
and coworkers' hard earned cash! Check out the 2015 Player Info button at the top of the screen
to see the best Fantasy Players from last years season, or check out the About The Founder section to see a brief
profile of the amazing creator of this fantastic website.</p>

</div>
<div class="home_images"><img src="{% static 'fantasyfootballbabyblue_fullpic.png' %}">
<img src="{% static 'post-50621-drew-carey-welcome-to-fantasy-rduw.jpeg' %}"> </div>
</div>

</body>
</html>