{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body>

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="{% url "index" %}">Home</a></li>
  <li role="presentation"><a href="{% url "aboutme" %}">About Me</a></li>
  <li role="presentation"><a href="{% url "detailedinfo" %}">2015 Player Info</a></li>
</ul>




</body>
</html>